html{
	background-color: #717C89;
}


/* lets target the stocks section */
input{
	width: 500px;
	height: 20px;
	border-radius: 5%;
}

#get-stocks{
	padding-top: 4.7px;
	border-radius: 5px;
	padding-bottom: 5px;
	background-color: #CCDAD1;
	margin-left: 20px;
	color: black;
	font-weight: bold;
}

table{
	margin-top: 40px;
	border-spacing: 30px 0px;
}
th, td{
	width: 200px;
	text-align: center;


}

th{
	border-bottom: solid 3px black;
}

td{
	border: solid 1px black;
}

.success{
	background-color: green;
}

.failure{
	background-color: red;
}