html{
	background-color: #717C89;
}


/* lets target the stocks section */
input{
	width: 500px;
	height: 20px;
	border-radius: 5%;
}



table{
	margin-top: 40px;
	border-spacing: 30px 0px;
}
th, td{
	width: 200px;
	text-align: center;


}

th{
	border-bottom: solid 3px black;
}

td{
	border: solid 1px black;
}

.success{
	background-color: green;
}

.failure{
	background-color: red;
}

/* BUTTON STYLING */

button{
	padding-top: 4.7px;
	border-radius: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
	color: black;
	font-weight: bold;
}

#get-stocks{
	background-color: #5C6F68;
}

#save-stocks{
	background-color: #805E73;	
}

#retrieve-stocks{
	background-color: #BFB48F;		
}

#stock-form{
	display: inline-block;	
}

/* 235789 */

/* DAFF7D */